In [1]:
import pandas as pd
import numpy as np

In [2]:
ospd = pd.read_csv('ospd.txt')
ospd = ospd[(ospd['Word'].str.len() == 9)].reset_index().drop('index',axis=1)

In [3]:
ospd.head()

        Word
0  aardvarks
1  aasvogels
2  abamperes
3  abandoned
4  abandoner

In [4]:
import inflect
p = inflect.engine()
word_list = list(filter(lambda item: p.singular_noun(item) == False,ospd['Word']))

In [6]:
word_list[:5]

['abandoned', 'abandoner', 'abasement', 'abashment', 'abatement']

# Scrabble Tile Values

In [8]:
tile_dict = {"a":1,
             "b":3,
             "c":2,
             "d":2,
             "e":1,
             "f":4,
             "g":2,
             "h":4,
             "i":1,
             "j":8,
             "k":5,
             "l":1,
             "m":3,
             "n":1,
             "o":1,
             "p":3,
             "q":10,
             "r":1,
             "s":1,
             "t":1,
             "u":1,
             "v":4,
             "w":4,
             "x":8,
             "y":4,
             "z":10}

In [12]:
word_list[0][2]

'a'

In [82]:
new_list = [[sum(tile_dict[i] for i in word_list[r])]for r in range(len(word_list))]
new_list[:5]

[[13], [12], [13], [16], [13]]

In [84]:
df = pd.DataFrame(new_list,word_list)
df.head()

            0
abandoned  13
abandoner  12
abasement  13
abashment  16
abatement  13

# Jumble Words with the Highest Score in Scrabble

In [81]:
df.sort_values(0,ascending=False)

            0
showbizzy  38
quizzical  37
whizzbang  36
huzzahing  34
pizzalike  33
blizzardy  33
chazzenim  33
chazzanim  33
bemuzzled  32
embezzled  32
frizzling  31
paparazzo  31
schnozzle  31
swizzling  31
bedazzled  31
zigzagged  31
paparazzi  31
schizzier  31
embezzler  31
frazzling  31
unpuzzled  30
equivoque  30
unmuzzled  30
pizzicati  30
podzolize  30
pizzicato  30
frizziest  30
exoenzyme  30
frizzlier  30
maximized  30
...        ..
linoleate   9
resoluter   9
situation   9
oleoresin   9
torsional   9
tantalite   9
essential   9
unilineal   9
literator   9
silentest   9
uneasiest   9
interunit   9
statelier   9
starriest   9
sanatoria   9
antisense   9
innersole   9
antisolar   9
antistate   9
antitrust   9
saltation   9
initiator   9
antiunion   9
orrisroot   9
orneriest   9
orienteer   9
orientate   9
saintlier   9
rerelease   9
tantalise   9

[14507 rows x 1 columns]